kerberos_hosts:
  - {
      label: <label_for_a_machine>,
      value: "<ip_address> <server_name aliases separated by space(fqdn, machine name without domain.etc)>",
    }
kdc_my_realm: <your_kdc_realm>
kerberos_my_servers: <your_kerberos_servers separated by space>
kerberos_my_admin_server: <your_kerberos_admin_server>
kdc_master_password: <strong_password>
kerberos_my_admin_principal: <admin_principal_name>
kerberos_my_admin_password: <admin_principal_password>
